<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" />
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table
        [value]="pessoas"
        [responsive]="true"
        [paginator]="true"
        [rows]="filtro.itensPorPagina"
        [lazy]="true"
        [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarDePagina($event)"
        #tabela
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Departamento</th>
            <th>Cargo</th>
            <th>E-mail</th>
            <th *ngIf="pessoas.length > 0" style="width: 100px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.departamento }}</td>
            <td>{{ pessoa.cargo }}</td>
            <td>{{ pessoa.email }}</td>
            <td>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/funcionarios', pessoa.id]"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                pTooltip="Remover"
                tooltipPosition="top"
                (click)="confirmarExclusao(pessoa)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">Funcionário não encontrado</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <button
        pButton
        type="button"
        label="Novo funcionário"
        routerLink="/funcionarios/novo"
      ></button>
    </div>
  </div>
</div>
